{
    "log": {
        "level": "error",
        "timestamp": true
    },
    "inbounds": [
        {
            "type": "tun",
            "tag": "tun-in",
            "mtu": 1400,
            "interface_name": "sb0",
            "address": "172.30.0.1/30",
            "auto_route": false,
            "strict_route": false
        }
    ],
    "dns": {
        "servers": [
            {
                "tag": "dns-proxy",
                "type": "tls",
                "server": "1.1.1.1"
            },
            {
                "tag": "dns-direct",
                "type": "tls",
                "server": "77.88.8.8"
            }
        ],
        "rules": [
            {
{% if bifrost_rules.domain is defined %}
                "domain": {{ bifrost_rules.domain | tojson }},
{% endif %}
{% if bifrost_rules.domain_suffix is defined %}
                "domain_suffix": {{ bifrost_rules.domain_suffix | tojson }},
{% endif %}
{% if bifrost_rules.domain_keyword is defined %}
                "domain_keyword": {{ bifrost_rules.domain_keyword | tojson }},
{% endif %}
                "rule_set": {{ bifrost_rule_set | map(attribute='name') | list | tojson }},
                "action": "route",
                "server": "dns-direct"
            }
        ],
        "final": "dns-proxy",
        "independent_cache": true
    },
    "outbounds": [
        {
            "type": "vless",
            "tag": "vless-out",
            "server": "{{ bifrost_server }}",
            "server_port": 443,
            "uuid": "{{ bifrost_vless_uuid }}",
            "flow": "xtls-rprx-vision",
            "tls": {
                "enabled": true,
                "server_name": "{{ bifrost_vless_server_name }}",
                "reality": {
                    "enabled": true,
                    "public_key": "{{ bifrost_reality_public_key }}",
                    "short_id": "{{ bifrost_reality_short_id }}"
                },
                "utls": { "enabled": true, "fingerprint": "chrome" }
            },
            "domain_resolver": "dns-proxy"
        },
        {
            "type": "direct",
            "tag": "direct",
            "domain_resolver": "dns-direct"
        }
    ],
    "route": {
        "auto_detect_interface": true,
        "rules": [
            {
                "action": "sniff",
                "timeout": "500ms"
            },
            {
                "protocol": "dns",
                "action": "hijack-dns"
            },
            {
                "ip_is_private": true,
                "action": "route",
                "outbound": "direct"
            },
            {
{% if bifrost_rules.domain is defined %}
                "domain": {{ bifrost_rules.domain | tojson }},
{% endif %}
{% if bifrost_rules.domain_suffix is defined %}
                "domain_suffix": {{ bifrost_rules.domain_suffix | tojson }},
{% endif %}
{% if bifrost_rules.domain_keyword is defined %}
                "domain_keyword": {{ bifrost_rules.domain_keyword | tojson }},
{% endif %}
                "rule_set": {{ bifrost_rule_set | map(attribute='name') | list | tojson }},
                "outbound": "direct"
            }
        ],
        "rule_set": [
{% for item in bifrost_rule_set %}
            {
                "tag": "{{ item.name }}",
                "type": "remote",
                "format": "binary",
                "url": "{{ item.url }}",
                "download_detour": "vless-out",
                "update_interval": "7d"
            }{% if not loop.last %},{% endif %}

{% endfor %}
        ],
        "final": "vless-out"
    },
    "experimental": {
        "cache_file": {
           "enabled": true
        }
    }
}
